@import "./global.scss";

.footer-style {
  background-color: $black;
  color: $white;
  flex-shrink: 0;
  width: 100%;
  p {
    font-size: 0.9rem;
    margin-top: 0;
  }

  .details {
    margin-bottom: 10px;
    span {
      color: #ec6f66;
      font-weight: 700;
    }
  }

  .github {
    color: #ad5c51;
    transition: 0.3s;
    &:hover {
      color: white;
    }
  }

  .tumblr {
    color: #34465d;
    transition: 0.3s;
    &:hover {
      color: white;
    }
  }
  a {
    margin: 10px;
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .footer-style {
    p {
      font-size: 0.8rem;
    }
    a {
      font-size: 1rem;
    }
  }
}
