@import "./global.scss";

form {
  label {
    font-size: 1.5rem;
    font-weight: 800;
    color: $white;
  }

  .input-container {
    margin: 15px;
  }

  select {
    -webkit-appearance: none;
    -webkit-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    text-align-last: center;
    color: #ec6f66;
    font-size: 1.2rem;
    font-weight: 600;
    width: 320px;
    padding: 8px 0;
    margin: 8px 0 52px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid #efff91;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      color: #efff91;
    }
  }

  select option {
    background-color: $black;
  }

  input {
    text-align: center;
    text-align-last: center;
    color: #ec6f66;
    font-size: 1.2rem;
    width: 320px;
    padding: 8px 0;
    margin: 8px 0 52px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid #efff91;
    cursor: pointer;
  }
}

.name {
  color: #ec6f66;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  transition: 0.4s;
  cursor: default;
  &:hover {
    color: #efff91;
  }
}

button {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #754fff;
  color: white;
  padding: 10px 35px;
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
  margin: 12px 0;
  transition: 0.4s;

  &:hover {
    border: 2px solid #ff71e0;
  }
}
