@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Roboto:wght@300&display=swap");

//colors
$white: #fff;
$black: #000;

//vars
$page-font: "Roboto", sans-serif;
$underlined: "Montserrat Subrayada", sans-serif;

* {
  box-sizing: border-box;
  font-family: $page-font;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}
