@import "./global.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  p {
    margin-top: 20px;
  }
}

.left-half {
  background-color: $black;
  flex: 1;
  padding: 1rem;
}

.right-half {
  background-color: $white;
  flex: 1;
  padding: 1rem;
}

.black-p {
  font-family: $underlined;
  color: $black;
  font-size: 3rem;
  font-weight: 800;
}

.white-p {
  font-family: $underlined;
  color: $white;
  font-size: 3rem;
  font-weight: 800;
}

@media (max-width: 768px) {
  .black-p {
    font-size: 2rem;
  }

  .white-p {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .black-p {
    font-size: 1.2rem;
  }

  .white-p {
    font-size: 1.2rem;
  }
}
