@import "./global.scss";

#wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: $black;
}

#right {
  flex: 1;
}
